In [60]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
from copy import deepcopy
import os

file_to_load = "salaries-by-region.csv"

In [61]:
#read region data
region_data = pd.read_csv(file_to_load)

#Extract data by Region from the Master DF
Southern_Region = region_data.loc[region_data["Region"] == "Southern", :]

#List salary change over the lenght of mid-career by region; from school with hightest Starting_Mid to lowest Mid_90th
Southern_Sort = Southern_Region.sort_values(['Starting Median Salary', 'School Name'], ascending=[False, True])

#Clean DF to the areas of focus
South_Clean = Southern_Sort[["School Name", "Region", "Starting Median Salary", "Mid-Career Median Salary", "Mid-Career 90th Percentile Salary"]]
South_Clean = South_Clean.dropna()

#Index data for Region Column
South_Clean.set_index('Region', inplace=True)

#Add unique index value row
df = South_Clean.reset_index()
df.head()

,Region,School Name,Starting Median Salary,Mid-Career Median Salary,Mid-Career 90th Percentile Salary
0,Southern,Rice University,"$64,000.00","$110,000.00","$216,000.00"
1,Southern,Duke University,"$58,900.00","$106,000.00","$218,000.00"
2,Southern,Georgia Institute of Technology,"$58,300.00","$106,000.00","$183,000.00"
3,Southern,Georgetown University,"$55,000.00","$110,000.00","$248,000.00"
4,Southern,Virginia Polytechnic Institute and State Unive...,"$53,500.00","$95,400.00","$163,000.00"

In [62]:
df.columns = ['REGION','SCHOOL NAME','STARTING AVG','MID CAREER AVG ','TOP 10% AVG']
df.head()

,REGION,SCHOOL NAME,STARTING AVG,MID CAREER AVG,TOP 10% AVG
0,Southern,Rice University,"$64,000.00","$110,000.00","$216,000.00"
1,Southern,Duke University,"$58,900.00","$106,000.00","$218,000.00"
2,Southern,Georgia Institute of Technology,"$58,300.00","$106,000.00","$183,000.00"
3,Southern,Georgetown University,"$55,000.00","$110,000.00","$248,000.00"
4,Southern,Virginia Polytechnic Institute and State Unive...,"$53,500.00","$95,400.00","$163,000.00"

In [63]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [64]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [65]:
base_url = 'https://www.payscale.com/cost-of-living-calculator/'

In [66]:
#Create list of links to scrape 
city_list= ['Georgia-Atlanta', 'Texas-Austin','North-Carolina-Charlotte', 'Texas-Dallas',\
            'Texas-Houston', 'Florida-Miami', 'Tennessee-Nashville', 'Florida-Orlando', 'North-Carolina-Raleigh', 'Florida-Tampa', 'District-of-Columbia-Washington']
count = 0
pages = []
for page in city_list:
    page_url = f"{base_url}{city_list[count]}"
    count = count + 1
    pages.append(page_url)
    print(page_url)

https://www.payscale.com/cost-of-living-calculator/Georgia-Atlanta
https://www.payscale.com/cost-of-living-calculator/Texas-Austin
https://www.payscale.com/cost-of-living-calculator/North-Carolina-Charlotte
https://www.payscale.com/cost-of-living-calculator/Texas-Dallas
https://www.payscale.com/cost-of-living-calculator/Texas-Houston
https://www.payscale.com/cost-of-living-calculator/Florida-Miami
https://www.payscale.com/cost-of-living-calculator/Tennessee-Nashville
https://www.payscale.com/cost-of-living-calculator/Florida-Orlando
https://www.payscale.com/cost-of-living-calculator/North-Carolina-Raleigh
https://www.payscale.com/cost-of-living-calculator/Florida-Tampa
https://www.payscale.com/cost-of-living-calculator/District-of-Columbia-Washington

In [67]:
headers = ['Median Home Price','Median Rent','Energy Bill','Phone Bill','Gas','Loaf of Bread', \
            'Gallon of Milk','Carton of Eggs','Bunch of Bananas','Hamburger',"Doctor's Visit",\
            'Dentist Visit','Optometrist Visit','Rx Drug','Veterinary Visit']

In [68]:
count = 0
lifestyle_df = pd.DataFrame()
for page in pages:
    browser.visit(page)
    south_region = browser.html
    southern_soup = bs(south_region, 'html.parser')
    values = []
    for info in southern_soup.find_all('div', class_='itemized__item-container'):   
        for v in info.find_all('div', class_='itemized__item-value'):
            value = v.text
            values.append(deepcopy(value))
        
    style_df = pd.DataFrame([{headers[x]:values[x] for x in range(len(headers))}])
    lifestyle_df = lifestyle_df.append(deepcopy(style_df))

IndexError: list index out of range

In [ ]:
df = pd.DataFrame(lifestyle_df)
df['STATES']= city_list

In [ ]:
Southern_data = df.set_index('STATES')
Southern_data

In [ ]:
for x in Southern_data:
    Southern_data[x] = Southern_data[x].str.replace("$","")
    Southern_data[x] = Southern_data[x].str.replace("month","")
    Southern_data[x] = Southern_data[x].str.replace("/","")
    Southern_data[x] = Southern_data[x].str.replace("gallon","")
    Southern_data[x] = Southern_data[x].str.replace(",","")
    Southern_data[x] = pd.to_numeric(Southern_data[x])

Southern_data.head()

In [ ]:
#Renamed columns
Southern_data.columns = ['MORTGAGE','RENT','ELECTRICITY','PHONE','GAS','BREAD','MILK','EGGS','BANANAS','POLTRY','PHYSICIAN', 'DENTIST','OPTOMISTRIST', 'RX','VET']
Southern_data['HLTH & WELL']=Southern_data['PHYSICIAN'] + Southern_data['DENTIST'] + Southern_data['OPTOMISTRIST'] + Southern_data['RX']
Southern_data['EAT-IN']=Southern_data['BREAD'] + Southern_data['MILK'] + Southern_data['BANANAS'] + Southern_data['POLTRY']
Southern_data = Southern_data.drop(['BREAD','MILK','EGGS','BANANAS','POLTRY','PHYSICIAN', 'DENTIST', 'OPTOMISTRIST','RX'], axis=1)
Southern_data

In [ ]:
#Added Region column with "Southern" values in preparation to join with other regions.
region = 'Southern'
Southern_data['REGION'] = [region for _ in range(len(Southern_data))]
Southern_data

In [ ]:
#Reorderd columns
Southern_data = Southern_data[['MORTGAGE', 'RENT', 'ELECTRICITY','GAS', 'EAT-IN','PHONE','HLTH & WELL', 'VET', 'REGION']]
Southern_data

In [ ]:
Southern_data.to_csv("southern.csv")

In [ ]:
Southern_data.mean(axis = 0)

In [ ]:
#Transpose the DataFrame
southern_avg = pd.DataFrame(Southern_data.mean())
southern_avg_t = southern_avg.T
southern_avg_t

In [ ]:

mid_west_df = pd.read_csv("mid_west.csv")
southern_df_csv = pd.read_csv("southern.csv")

In [ ]:
mid_west_df.head()

In [ ]:
southern_df_csv.head()

In [ ]:
Mid_South = mid_west_df.append(southern_df_csv,ignore_index = True)
Mid_South

In [ ]:
cali_df = pd.read_csv("cali.csv")
western_df= pd.read_csv("western.csv")

In [ ]:
western_df

In [ ]:
cali_df

In [ ]:
Western_Cali = western_df.append(cali_df,ignore_index = True)
Western_Cali

In [ ]:
Sth_West_Mid_Cali = Mid_South.append(Western_Cali,ignore_index = True)